html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--right-bg-color); /* Responsive background color fix */
}

body {
  --main-color: #444aff;
  --text-color: #444aff;
  --left-bg-color: #dedede;
  --right-bg-color: #f0f0f0;
  --form-text-color: #3c3c3c;
}

body.dark-theme {
  --main-color: #ffbf5e;
  --text-color: #fefefe;
  --left-bg-color: #8c8c8c;
  --right-bg-color: #2c2c2c;
  --form-text-color: #fefefe;
}

.font {
  font-family: "Oxygen", sans-serif;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrapper {
  height: 100%;
}

.transition-5 {
  /* Smooth dark & light mode change */
  transition: all 0.5s;
}

.wrapper > div {
  height: 100%;
  width: 50%;
}

/* LAYOUT PANELS */

#leftPanel {
  position: fixed;
  background-color: var(--left-bg-color);
}

#rightPanel {
  float: right;
  background-color: var(--right-bg-color);
  justify-content: center;
}

/* LEFT SIDE */

#leftInnerPanel {
  margin: 61px 0 0 56px;
}

#leftInnerTitle {
  margin: 42px 0 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 3.073vw;
  line-height: 74px;
  letter-spacing: -0.5px;
  text-transform: uppercase;

  color: var(--text-color);
}

#leftInnerBody {
  font-style: normal;
  font-weight: 400;
  font-size: 1.458vw;
  line-height: 35px;

  text-align: left;

  margin: 29px 36px 0 0;

  color: var(--text-color);
}

.rectangleWrapper {
  justify-content: end;
  margin: 40px 58px 0 0;
}

#rectangle path {
  fill: var(--main-color);
  transition: all 0.5s;
}

/* RIGHT SIDE (REGISTER) */

#registerWrapper {
  margin: 50px 0px;
  width: 60%;
}

#registerTitle > span {
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;

  color: var(--form-text-color);
  position: relative;
  transition: all 0.5s;
}

#registerTitle > span:after {
  position: absolute;
  content: "";
  height: 4px;

  margin: 0 auto;
  left: 0;
  right: 50%;
  bottom: -20%;
  width: 120%;
  background: var(--main-color);
  transition: all 0.5s;
}

#registerTitle > span:hover:after {
  width: 170%;
}

/* REGISTER FORM */

#registerForm {
  height: 100%;
  width: 100%;
  margin: 80px 0 0 0;
  flex-wrap: wrap;
}

.registerGroup {
  width: 100%;
  margin-bottom: 14px;
}

.split {
  width: 45% !important;
}

.double-input {
  width: 100%;
  justify-content: space-between;
}

.registerGroup > label {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.15px;

  color: var(--form-text-color);
  margin-bottom: 12px;
}

.required::after {
  content: " *";
  color: red;
}

.registerGroup > input {
  border: 2px solid #aaa;
  height: 56px;
  background-color: transparent;
  border-radius: 4px;
  padding: 0 22px;
  font-size: 16px;
  line-height: 20.2px;
  letter-spacing: 0.15px;
  color: var(--form-text-color);
  outline: none;
  width: calc(100% - 46px);
}

.registerGroup > input::placeholder {
  color: var(--form-text-color);
}

.form-error {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;

  color: #ee6356;
  padding-top: 5px;
}

#form-checkbox-label {
  left: 24px;
  bottom: -2px;
  position: relative;
  display: inline !important;

  color: #8e8e8e !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* identical to box height */

  letter-spacing: 0.1px;
}

#registerButton {
  height: 56px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: var(--main-color);
  color: #f0f0f0;
}

/* Dark Mode Button */

#darkModeButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  margin: 30px;
}

/***** PATİKA LOADER *******/

#loadingScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;

  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingScreen > img {
  width: 64px;
  height: 64px;
}

/***** CUSTOM CHECKBOX *******/

.round {
  display: inline;
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
